/*
style button
*/

/*
circle button
*/

.btn-circle {
  background-color: #fff;
  color: #000;
  border: solid 2px #000;
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  transition: .4s;
  word-break: break-all;
  margin: 20px;
  padding-top: var(--pad-top);
  font-size: 20px;
  box-shadow: 2px 2px 4px gray;
}

.btn-circle:hover {
  background-color: #333;
  color: white;
  text-decoration: none;
}

.content-block{
  padding-top: 5%;
}

.title-ul{
  padding-bottom: 1%;
  border-bottom: 0.1em solid black;
}

.btn-div{
  float: left;
  text-align: center;
  height: 200px;
}


/*
Download button
*/


.dl-btn{
  display: inline-block;
  border-radius: 5%;
  font-size: 10pt;
  text-align: center;
  cursor: pointer;
  padding: 12px 12px;
  background: white;
  color: #333;
  transition: .4s;
  box-shadow: 1px 1px 1px #666666;
  border: 1px solid #000066;
  overflow: hidden;
  position: relative;
  z-index: 2;
  width: 100px;
}

.dl-btn::after{
  content: var(--content-before);
  /*content: "Download!";*/
}

.dl-btn:hover::after{
  content: var(--content-after);
}

.dl-btn:hover{
  background-color: #333;
  color: white;
  text-decoration: none;
}


/* below is from https://www.nxworld.net/tips/css-only-button-design-and-hover-effects.html */
/*
.dl-btn {
  display: inline-block;
  width: 100px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  line-height: 25px;
  outline: none;
}
.dl-btn::before,
.dl-btn::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: 'Download';
}
.dl-btn,
.dl-btn::before,
.dl-btn::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.dl-btn {
  position: relative;
  z-index: 2;
  background-color: #fff;
  border: 2px solid #333;
  color: #333;
  overflow: hidden;
}

.dl-btn:hover {
  color: #fff;
  text-decoration: none;
}
.dl-btn::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(.5);
  transform: scale(.5);
  content: "";
  text-align: center;
  font-size: 30px;
}
.dl-btn:hover::after {
  background: #333;
  -webkit-transform: scale(1);
  transform: scale(1);
  content: "click!";
  font-size: 20px;
}
*/